/*
#1F2937 dark background color for header and footer

48px extra-bold #F9FAF8 for header main text "This website is awesome"

header secondary text & header link text: 18px #E5E7EB

Header logo text: 24px #F9FAF8

Button color & call to action background color:#3882F6

Information header text: 36px extra bold #1F2937

Quote section background color #E5E7EB

Quote Text: 36px light italic #1F2937
*/

.section1{
    background-color: #1f2937;
    border: 1px;
}

#headerlogo{
    border: red;
    color: white;
    font-weight: bold;
    display: inline-block;
}